*,
*::before,
*::after {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.col-1 {
    width: 65%;
}

.col-2 {
    width: 25%;
}

.about-me {
    float: left;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 35px 20px 40px -14px rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-btn {
    color: #8f8f8f;
    text-decoration: none;
    border: 1px solid black;
    height: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(33, 37, 41) 25%, rgb(33, 37, 41) 100%);
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    width: 100%;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    opacity: 0.9;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_summary {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.contact {
    float: right;
    color: whitesmoke
}

.collapse {
    padding: 20px;
}

.collapse-btn {
    color: #6c757d;
    float: right;
}

.container {
    margin-right: 15%;
    margin-left: 15%;
}

.brand {
    background-color: rgb(33, 37, 41);
    padding: 10px;
}

.btn {
    color: #8f8f8f;
    text-decoration: none;
    padding: 1px;
    border: 1px solid black;
    border-radius: 0.25rem;
    height: 35px;
    width: 87px;
}

.card-btn:hover,
.btn:hover {
    color: #ffffff;
    background: orange;
}

.buttons {
    padding: 10px;
}

.cv,
.github,
.email {
    background: rgb(33, 37, 41);
}

.col-icons {
    column-count: 3;
    width: 100%;
}

.icon:hover {
    opacity: 0.6;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.float-end {
    float: right !important;
}

.py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.navbar {
    display: none;
}

.navbar-contents {
    background-color: rgb(33, 37, 41);
    padding: 10px;
}

.projects {
    background-color: #f1f1f1;
}

.projects-title {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.self-portrait {
    border-radius: 0.25rem;
}

.text-center {
    text-align: center !important;
    font-size: larger;
}

.text-muted {
    color: #6c757d !important;
}

.title {
    color: white;
}

.text {
    color: #6c757d;
}

h4 {
    font-size: 1.5rem;
}

header,
main {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .col-icons {
        text-align: center;
    }
    .mb-1,
    .float-end,
    .title {
        text-align: center;
    }

    .text {
        text-align: justify;
    }

    .project-column {
        width: 100%;
    }
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}